.garden-main h1{
    font-size: 100px;
    color: white;
    margin-left: 780px;
    margin-top: 100px;
}

.garden-main h6{
    font-size: 50px;
    color: white;
    margin-left: 1280px;
    margin-top: 100px;

}


body{
    background-color:  	#301934;
}