.cascade {
    text-align: center;
    line-height: 1.5;
}

.cascade div {
    margin-left: 10px;
}

body{
    background-color: transparent;
    transform: translate(-1.5%, 200.5%);
    color: black;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 70px;
    background-color: red;
}
